/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_10
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_12
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_14
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_16
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_18
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_20
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_25
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_30
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_35
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_40
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_L_50
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_10
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_12
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_14
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_16
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_18
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_20
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_25
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_30
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_35
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_40
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_50
/home/jiayi/Tool/MODEL/SURF_VEL/PHASE_VEL/WESTCHINA/cmb2_phv_R_8
